body {
    font-size: 1.2rem;
    font-family: 'Lora', serif;
    min-height: 3000px;
    scroll-behavior: smooth;

}

body::-webkit-scrollbar {
    display: none;
}

img{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
   img {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }


.hero {
    position: relative;
    min-height: 100vh;


}


.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
}

.hero h5 {
    letter-spacing: 3px;
}

.hero h6 {

    letter-spacing: 5px;
    margin-top: 20px;
}

.hero a {
    background-color: transparent;
    color: white;


}