body {
    font-size: 1.2rem;
    font-family: 'Lora', serif;
    min-height: 3000px;
    scroll-behavior: smooth;

}

body::-webkit-scrollbar {
    display: none;
}

.hero::before{ 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/pexels-marina-abrosimova-9211727.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;

}
  



.hero {
    position: relative;
    min-height: 100vh;


}

.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
}

.hero h5 {
    letter-spacing: 3px;
  
}

.hero h6 {
   
    letter-spacing: 5px;
    margin-top: 10px;
}

.hero a {
    background-color: transparent;
    color: white;


}

@media (max-width:992px){
    html{
        font-size: 75%;
    }
}
@media (max-width:768px){
    html{
        font-size: 65%;
    }
    
    
}@media (max-width:576px){
    html{
        font-size:60%;
    }
    
}
@media (max-width: 768px) {
    .hero::before {
        background-size: cover;
      
    }
}

/* For screens with a width between 768px and 1200px */
@media (min-width: 769px) and (max-width: 1200px) {
    .hero::before {
        background-size: cover;
    }
}

/* For screens with a width greater than 1200px */
@media (min-width: 1201px) {
    .hero::before {
        background-size: cover;
    }
}

 
 
.hero-2{
    background-image: url(img/Default.PNG);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 0px 100px;
   
}
.hero-2 .kutipan{
    max-width:650px ;
    margin-top: 10px;
    border: 1px transparent;
    border-radius: 60% ;
    padding: 50px 140px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}


.hero-2 .kutipan img{
    width:120px;
    height: 100px;
    color: pink;
}

.hero-2 .kutipan h1{
    color: palevioletred;
}

.hero-2 .kutipan .ayat {
    color: palevioletred;
    font-weight: 800;
}

@media (max-width:992px){
    .hero-2 .kutipan{
        max-width: 550px;
        padding:80px;
    }
}

@media (max-width:768px){
    .hero-2 .kutipan{
        border-radius: 50% 50% 0 0;
        max-width: 400px;
        padding:80px;
    }
    
    
}@media (max-width:576px){
    .hero-2 .kutipan{
        border-radius: 50% 50% 0 0;
        max-width: 350px;
        padding:60px;} 
}
.person{
    min-height: 110vh;
    background-color: #EAE4D4;
}


.person h1{
    position: relative;
    top: 70px;
    text-align: center;
    font-weight: bolder;
    
}
.grooms-img img{
    width: 380px;
    height: 500px;
    margin-top: 25%;
    border-radius: 20px;
}
.brides-img img{
    width: 380px;
    height: 500px;
    margin-top: 25%;
    border-radius: 20px;
}

.grooms-img h2 {
    color: rgb(207, 145, 63);
    margin-top: 50px;
    font-size: 2rem;
    
}
.brides-img h2 {
    color: rgb(207, 145, 63);
    margin-top: 50px;
    font-size: 2rem;
    
}
.grooms-img a{
    background-color: burlywood;
    color: white;
    margin-top: 50px;
    font-size: 4rem;
    border-radius: 20px;
    
}
.brides-img a{
    background-color: burlywood;
    color: white;
    margin-top: 50px;
    font-size: 4rem;
    border-radius: 20px;
}